<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-6 rounded shadow-md">
        <button 
            class="bg-blue-500 text-white px-4 py-2 rounded"
            hx-get="/test.html"
            hx-target="#data"
            hx-swap="innerHTML">
            miviro.es !
        </button>
        <div id="data" class="mt-4"></div>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>
